logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
*.class
blog.md
*parsetab.py*
*parser.out*
*lextab.py*
*.sublime-workspace*
*.db
.sql
