@(section_num: Integer)


@base("Section 1 - Human Research Ethics application - Curtin University") {
    <!-- START main content -->
    <div class="row">
        <div class="container">

            <!-- START form -->
            <div class="col-sm-10">
                <form>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="panel-title"><b>Section @section_num - General information</b></div>
                        </div>
                        <div class="panel-body">
                            <div class="main-q">
                            </div>

                            @partials.section_buttons(section_num)
                        </div>
                    </div>
                </form>
            </div>
            <!-- END form -->

            @partials.sidebar(section_num)
        </div>
    </div>
    <!-- END main content -->

} {
    @* postScript *@
}
