@(section_num: Integer)


@section(section_num: Integer, section_name: String, active: Boolean = false) = {
    <li class="@if(active) { active }">
        <a href="/demos/section@{section_num}"><b>Section @section_num</b><br /><div style="margin-left:1em;">@section_name</div></a>
        <div class="sub-q">
            <small>
                @defining(business.Sections.get_questions(section_name)) { questions =>
                    @for(question <- questions) {
                        <a href="#">@question</a>
                        @if(question != questions.last) {, }
                    }
                }
            </small>
        </div>
    </li>
}


<!-- START Sidebar -->
<div class="col-sm-2">
    <div class="panel panel-default affix" id="nav-sidebar">
        <ul class="nav nav-stacked nav-pills">
            <li><a href="/demos/ethics_triage"><b>Ethics triage</b></a></li>
            @defining(business.Sections.get_sections_with_numbers) { sections =>
                @for(a_section <- sections) {
                    @section(a_section._1, a_section._2, a_section._1 == section_num)
                }
            }
        </ul>
    </div>
</div>
<!-- END Sidebar -->
