@(applicationId: Long, section_num: Integer)

@import b3.vertical.fieldConstructor

<div class="col-sm-3">

  <div class="panel panel-info" id="menu">
    <div class="panel-heading" onclick="showBody(this);">
      <div class="panel-title">Menu</div>
    </div>
    <div class="panel-body">
      @b3.submit('onclick -> "document.forms[0].submit()", 'class -> "btn btn-info") {Save}
      <a class="btn btn-info" href="/application/@applicationId/">Back to summary</a>
    </div>
  </div>

  <div class="panel panel-info" id="sidebar">
    <div class="panel-heading" onclick="showBody(this);">
      <div class="panel-title">
        Navigation
      </div>
    </div>
    <div class="panel-body">
      <div class="sidebar-main">
        <a href="@controllers.Application.get_section_link(applicationId, 0)" class="sidebar-main-link">
          <div class="sidebar-sectnum">Ethics Triage</div>
        </a>
      </div>
      @for(a_section <- business.Sections.get_sections_with_numbers()) {
        @section(applicationId, a_section._1, a_section._2, a_section._1 == section_num)
      }
    </div>
  </div>
</div>
<!-- END Sidebar -->
