$border-color-grey: #CCC;

#header.navbar {
    background: none;
    border: none;
}

#footer.navbar {
    background: none;
    border: none;
    border-top: 1px solid #EEEEEE;
    margin-top: 20px;
}

#footer>.container {
    margin-top: 15px;
    ul {
        list-style: none;
        li {
            display: inline;
            padding-right: 10px;
        }
    }
}

/************ START Nav-siderbar ************/

#sidebar {
    width: 20em;

    .sidebar-main {
        padding: 7px 0px 7px 10px;
        font-size: 15px;
        font-weight: 500;
        color: #000;
    }
}

.sidebar-main a:link,
.sidebar-main a:visited,
.sidebar-main a:hover,
.sidebar-main a:active {
    color: #000;
    text-decoration: none;
}

.sidebar-main-active {
    background-color: #FFF4C5;
}

#sidebar .sidebar-sectname {
    padding-left: 1em;
    font-size: 12px;
    font-weight: normal;
    color: #555;
}

.sidebar-sectq {
    margin: 0 1em 0 1em;
    font-size: 13px;
    font-weight: normal;
    color : #999;
}

a.incomplete {
    &:link, &:visited, &:hover, &:active {
        color: #999;
    }
}

a.incomplete:hover,
a.incomplete:active {
    text-decoration: underline;
}

/************ END sidebar ************/


.panel-title {
    text-align: center;
    font-weight: 600;
}

.main-q-wrapper {
    main-q {
        font-weight: 600;
        font-size: 16px;
        margin: 2em 0em 0em 0em;
    }
}

.main-q-desc {
    margin: 0em 0em 1em 2em;
    padding: 0px 5px 0px 5px;
    border: 3px double #EEE;
    border-top: none;
    border-bottom: none;
    border-right: none;
    font-size: 13px;
    font-style: italic;
    color: #555;
}

.sub-q-wrapper {
    margin-left: 2em;
}

.option-label {
    font-weight: normal !important;
    margin: 0 !important;
    font-size: 14px;
}

.inline {
    display: inline;
}

.table-center tr td,th {
    text-align: center;
}

#ciTable td {
    font-size: 12px;
    vertical-align: middle;
}

th {
    vertical-align: middle;
}

.table-smallertext td,th {
    font-size: 14px;
}

.has-error .error-msg {
    color: red;
    font-size: 12px;
    padding-left: 1em;
}