$border-color-grey: #CCC;
$bootstrap-primary: #2563AB;
$bootstrap-info: #D0E8F6;
$border-main: 1px solid #EEE;

#header.navbar {
    background: none;
    border: none;
}

#footer {
    border-top: $border-main;
    .container {
        padding-top: 20px;
        #sitemap li {
            list-style: none;
            display: inline;
            padding-right: 15px;
        }
    }
}

#sidebar {
    .panel-heading {&:hover {cursor: pointer;}}
    .panel-body {padding: 0px;}

    .sidebar-main {
        padding: 5px;
        .sidebar-sectnum {color: lighten($bootstrap-primary, 30);}
        .sidebar-sectname {
            padding-left: 1em;
            font-size: 12px;
            color: saturate(lighten($bootstrap-primary, 30),10%);
        }
        .sidebar-sectq {
            display: none;  //Hide onload, toggle by jQuery hover event.
            margin-left: 1em;
            font-size: 13px;
            color: #999;
            a.incomplete {
                color: #999;
                &:hover, &:active {text-decoration: underline;}
            }
        }
        &:hover {
            .sidebar-sectnum, .sidebar-sectname {color: $bootstrap-primary;}
            a:hover {text-decoration: none;}
        }
    }

    .sidebar-main-active {
        background-color: lighten($bootstrap-info,7);
        .sidebar-sectnum {
            color: $bootstrap-primary;
            font-weight: bold;
        }
        .sidebar-sectname {color: lighten($bootstrap-primary, 15);}
        .sidebar-sectq {display: block;}  //Always show on active section.
    }
}

#menu {
    .panel-heading {&:hover {cursor: pointer;}}
    .panel-body {
        padding: 10px;
    }

    .btn {
        width: 100%;
    }
}

#index-panel {
    display: table;
    background-color: transparent;
    height: 500px;
    .wrapper {
        display: table-cell;
        vertical-align: middle;
        blockquote {
            margin: 40px 40px;
            font-family: serif;
            p {
                color: lighten(black, 40);
                font-size: 17px;
            }
        }
        #alert_next {
            display: table;
            width: 100%;
            margin: 0 auto;
            span {
                display: table-cell;
                vertical-align: middle;
            }
            #next-button {
                display: table-cell;
                vertical-align: middle;
                box-shadow: none;
            }
        }
    }
}

#new_application {
    align: center;
    input {
        width: 70%;
        margin: 0 auto;
    }
}

.panel {
    box-shadow: 2px 2px 1px #EFEFEF;
}

.panel-title {
    text-align: center;
    font-weight: 600;
}

.main-q-wrapper {
    .main-q {
        font-weight: 600;
        font-size: 16px;
        margin: 15px 0em 7px 0em;
    }
}

.main-q-desc {
    margin: 0em 0em 1em 2em;
    padding: 0px 5px 0px 5px;
    border: 3px double #EEE;
    border-top: none;
    border-bottom: none;
    border-right: none;
    font-size: 13px;
    font-style: italic;
    color: #555;
}

.sub-q-wrapper {
    margin-left: 2em;
}

.option-label {
    font-weight: normal !important;
    margin: 0 !important;
    font-size: 14px;
}

#ciTable td {
    font-size: 12px;
    vertical-align: middle;
}

.has-error .error-msg {
    color: red;
    font-size: 12px;
    padding-left: 1em;
}

/* Global styles */

.table-center tr td,th {text-align: center;}
.table-smallertext td,th {font-size: 14px;}
th {vertical-align: middle;}
.btn {box-shadow: -2px 2px 1px #EFEFEF;}
.inline {display: inline;}