@(themesForm: play.data.Form[views.formdata.ThemesForm])

@import b3.vertical.fieldConstructor
@import partials._

@data_source(name: String, description: String, placeholder: String) = {
  <div class="row">
    <div class="col-md-12 columns">
      <div class="panel">
        <label for="@name">
          <div class="col-md-4 columns">@description</div>
          <div class="col-md-8 columns">
            @b3.textarea(themesForm(name), 'placeholder -> placeholder)
          </div>
        </label>
      </div>
    </div>
  </div>
}

@base("Themes in research ethics") {
  @b3.form(routes.Forms.themes_in_research_ethics_post) {
    <div class="row">
      <div class="col-md-12 columns">
        <p>Potential harm or risk to participants</p>

        <div class="panel">
          @b3.textarea(
            themesForm("potential_harm"),
            '_help -> _display_(Html("<small>" +
              "Outline the potential risks to participants. If potential risks " +
              "are identified please explain how this research justifies the burden " +
              "and risk to participants (NS 2.1).<br/> " +
              "Consider illness or injury, potential side effects, but also include " +
              "potential embarrassment, economic loss, exposure to prosecution, anything " +
              "stressful, noxious or unpleasant, and complaints. Ensure you address these " +
              "in your Participant Information Statement.<br/> " +
              "Some examples of risks/expected adverse events (See Adverse Event Guidelines " +
              "for more information) may include:<br/> " +
              "<ul> " +
                "<li>For a drug­intervention clinical trial there will be side effects of the drug.</li> " +
                "<li>For psychological based studies risks may be psychological stress due " +
                "to the assessment; there may be a potential for increased risk of suicidality " +
                "or self­harm; there may be a potential for worsening of psychological disorder etc.</li> " +
              "</ul> " +
            "</small>"))
          )
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 columns">
        <p>Risk management strategy</p>

        <div class="panel">
          @b3.textarea(
            themesForm("risk_management_strategy"),
            '_help -> <small>(
              "Please outline how you will mitigate the risks identified above " +
              "and your plan of action for expected adverse events and other identified " +
              "risks. Please also outline your plan of action for unexpected adverse " +
              "events. The Human Research Ethics Office will use this information and " +
              "follow this procedure should an event or complaint occur. Please refer " +
              "to Adverse Event Guidelines for more information"
            )</small>
          )
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 columns">
        <p>Will participants be given financial or non-financial incentives?</p>

        <div class="panel">
          @yes_or_no("given_incentives")
          </br>

          @b3.textarea(themesForm("incentive_details"))
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 columns">
        <p>Please select how you are going to recruit participant (select all that apply) and in the space below describe your recruitment process.</p>

        <div class="panel">
          <div class="row">
            <div class="col-md-12 columns">
              @b3.checkbox(themesForm("data_medical_records_checkbox"),  '_text -> "Database/medical records")
              @b3.checkbox(themesForm("snowball_recruitment_checkbox"),  '_text -> "Snowball recruitment or word mouth etc")
              @b3.checkbox(themesForm("social_media_checkbox"),          '_text -> "Social media including Facebook, Yammer, LinkedIn, Twitter etc.")
              @b3.checkbox(themesForm("print_media_checkbox"),           '_text -> "Print media including flyers, newspapers, newsletters etc.")
              @b3.checkbox(themesForm("classroom_or_hospital_checkbox"), '_text -> "Classroom or hospital or clinic or community groups etc.")
              @b3.checkbox(themesForm("radio_television_checkbox"),      '_text -> "Radio/television etc.")
              @b3.checkbox(themesForm("other_checkbox"),                 '_text -> "Other")
            </div>
          </div>

          @data_source("data_medical_records",  "Database/medical records",                                        "Please describe the source")
          @data_source("snowball_recruitment",  "Snowball recruitment or word mouth etc",                          "Please list")
          @data_source("social_media",          "Social media including Facebook, Yammer, LinkedIn, Twitter etc.", "Please list")
          @data_source("print_media",           "Print media including flyers, newspapers, newsletters etc.",      "Please list sources")
          @data_source("classroom_or_hospital", "Classroom or hospital or clinic or community groups etc.",        "Please list sources")
          @data_source("radio_television",      "Radio/television etc.",                                           "Please list sources")
          @data_source("other",                 "Other",                                                           "Please describe")

        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 columns">
        <p>Will particiants provide consent?</p>

        <div class="panel">
          <div class="row">
            <div class="col-md-12">
              @yes_or_no("participant_consent")

              @b3.textarea(themesForm("participant_consent_description"))
            </div>
          </div>
        </div>
      </div>
    </div>
  }

  <style type="text/css">
    #incentive_details { display: none; }
    #participant_consent_description { display: none; }
  </style>

} {

  @* postScript :P *@
  <script type="text/javascript">
    function bind_vis(radiobox, textarea) {
      'use strict';
      var form = document.forms[0],
          textarea = $(form[textarea]),
          radiobox  = form[radiobox];

      $(radiobox).change(function(ev) {
        if (radiobox.value == "yes") {
          // textarea.show();
          textarea.slideDown();
        } else {
          textarea.slideUp();
          // textarea.hide();
        }
      });
    }

    $(document).ready(function() {
      bind_vis("given_incentives", "incentive_details");
      bind_vis("participant_consent", "participant_consent_description");
    });
  </script>
}
