<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Human Research Ethics application</title>
  <style type="text/css">
    .email-container {
      width: 75%;
      margin: 0 auto;
    }

    .header {
      background: #8AB8E6;
      width: 100%;
      padding: 30px;
      padding-right: 0px !important;
      border-radius: 5px;
      font-size: 20px;
      font-weight: 600;
    }

    .question {
      width: 30%;
      font-weight: 600;
      text-align: right;
      padding: 15px 5px 15px 1em;
      margin: 5px;
    }

    .answer {
      width: 70%;
      padding: 15px 1em 15px 1em;
      margin: 5px;
      border: solid 1px #BBB;
    }
  </style>
</head>
<body>

<div class="email-container">
<div class="header">Human Research Ethics application - Project title</div>
<table style="width:100%;">
  <tr>
    <td class="question" id="q1">1. Project title</td>
    <td class="answer" id="q1Ans">project title here.</td>
  </tr>
  <tr>
    <td class="question" id="q2">2. Project type</td>
    <td class="answer" id="q2Ans">Undergaduate other than honours (no candidacy required)</td>
  </tr>
  <tr>
    <td class="question" id="q3a">3a. Background</td>
    <td class="answer" id="q3aAns"></td>
  </tr>
  <tr>
    <td class="question" id="q3b">3b. Aims and hypothesis</td>
    <td class="answer" id="q3bAns"></td>
  </tr>
  <tr>
    <td class="question" id="q3c">3c. Methods</td>
    <td class="answer" id="q3cAns"></td>
  </tr>
  <tr>
    <td class="question" id="q4"></td>
    <td class="answer" id="q4Ans"></td>
  </tr>
  <tr>
    <td class="question" id="q5"></td>
    <td class="answer" id="q5Ans"></td>
  </tr>
  <tr>
    <td class="question" id="q6"></td>
    <td class="answer" id="q6Ans"></td>
  </tr>
  <tr>
    <td class="question" id="q7">7. Potential harm or risk to participants</td>
    <td class="answer" id="q7Ans">blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah </td>
  </tr>
  <tr>
    <td class="question" id="q8">8. Risk management strategy</td>
    <td class="answer" id="q8Ans"></td>
  </tr>
  <tr>
    <td class="question" id="q9">9. Will participants be given financial or non-financial incentives?</td>
    <td class="answer" id="q9Ans">
      <b>Yes</b><br />blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah
    </td>
  </tr>
  <tr>
    <td class="question" id="q10"></td>
    <td class="answer" id="q10Ans"></td>
  </tr>
  <tr>
    <td class="question" id="q11"></td>
    <td class="answer" id="q11Ans"></td>
  </tr>
  <tr>
    <td class="question" id="q12"></td>
    <td class="answer" id="q12Ans"></td>
  </tr>
  <tr>
    <td class="question" id="q13"></td>
    <td class="answer" id="q13Ans"></td>
  </tr>
  <tr>
    <td class="question" id="q14"></td>
    <td class="answer" id="q14Ans"></td>
  </tr>
  <tr>
    <td class="question" id="q15"></td>
    <td class="answer" id="q15Ans"></td>
  </tr>
  <tr>
    <td class="question" id="q16"></td>
    <td class="answer" id="q16Ans"></td>
  </tr>
  <tr>
    <td class="question" id="q17"></td>
    <td class="answer" id="q17Ans"></td>
  </tr>
  <tr>
    <td class="question" id="q18"></td>
    <td class="answer" id="q18Ans"></td>
  </tr>
  <tr>
    <td class="question" id="q19"></td>
    <td class="answer" id="q19Ans"></td>
  </tr>
  <tr>
    <td class="question" id="q20"></td>
    <td class="answer" id="q20Ans"></td>
  </tr>
  <tr>
    <td class="question" id="q21"></td>
    <td class="answer" id="q21Ans"></td>
  </tr>
  <tr>
    <td class="question" id="q22"></td>
    <td class="answer" id="q22Ans"></td>
  </tr>
  <tr>
    <td class="question" id="q23"></td>
    <td class="answer" id="q23Ans"></td>
  </tr>
  <tr>
    <td class="question" id="q24"></td>
    <td class="answer" id="q24Ans"></td>
  </tr>
  <tr>
    <td class="question" id="q25"></td>
    <td class="answer" id="q25Ans"></td>
  </tr>
  <tr>
    <td class="question" id="q26"></td>
    <td class="answer" id="q26Ans"></td>
  </tr>
  <tr>
    <td class="question" id="q27"></td>
    <td class="answer" id="q27Ans"></td>
  </tr>
  <tr>
    <td class="question" id="q28"></td>
    <td class="answer" id="q28Ans"></td>
  </tr>
  <tr>
    <td class="question" id="q29"></td>
    <td class="answer" id="q29Ans"></td>
  </tr>
  <tr>
    <td class="question" id="q30"></td>
    <td class="answer" id="q30Ans"></td>
  </tr>
</table>
</div>
    
</body>
</html>