<!DOCTYPE html>
<html>
<head>
<title>Section 5 - Processes of research governmance and ethical review</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<link rel="stylesheet" href="main.css">
</head>
<body>

<!-- START header -->
<nav class="navbar navbar-default" id="header">
    <div class="container">
        <div class="navbar-brand">Curtin University</div>

        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><div class="btn btn-success btn-xs">+ New application</div></a></li>
                <li><a href="./viewall.html">(name or ID)</a></li>
                <li><a href="./login.html">Login</a></li>
                <li><a href="#">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- END header -->

<!-- START main content -->
<div class="row">
    <div class="container">
        
        <!-- START form -->
        <div class="col-sm-9">
            <form>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title">Section 5 - Processes of research governmance and ethical review</div>
                    </div>
                    <div class="panel-body">
                        
                        <div class="form-group">
                            <label class="main-q" id="q23">23. Are there any potential conflicts of interest?</label>
                            <div class="row" style="width:50%;">
                                <div class="col-xs-6" style="text-align:center;">
                                    <label class="option-label"><input type="radio" name="q23" value="yes"> Yes</label>
                                </div>
                                <div class="col-xs-6" style="text-align:center;">
                                    <label class="option-label"><input type="radio" name="q23" value="no"> No</label>
                                </div>
                            </div>
                            <div class="main-q-desc">Please describe in the space below.</div>
                            <textarea class="form-control" rows="20" name="q23text"></textarea>
                        </div>

                        <hr />
                        <a class="btn btn-info pull-right" href="section6.html">Next section &#62;</a>
                        <a class="btn btn-info pull-left" href="section4.html">&#60; Previous section</a>

                    </div> <!-- END main panel body -->
                </div>
            </form>
        </div>
        <!-- END form panel -->

        <!-- START Sidebar -->
        <div class="col-sm-3">
            <div class="panel panel-default" id="nav-sidebar">
                <div class="panel-heading">
                    <div class="panel-title">Navigation</div>
                </div>
                <div class="nav-main"><a href="#">
                    Ethics Triage
                </a></div>
                <div class="nav-main"><a href="section1.html">
                    Section 1<div class="nav-main-desc">General Information</div>
                </a></div>
                <div class="nav-main"><a href="section2.html">
                    Section 2<div class="nav-main-desc">Themes in research ethics: Risk and benefits, consent</div>
                </a></div>
                <div class="nav-main"><a href="section3.html">
                    Section 3<div class="nav-main-desc">Ethical considerations specific to research methods or fields</div></a>
                </a></div>
                <div class="nav-main"><a href="section4.html">
                    Section 4<div class="nav-main-desc">Ethical considerations specific to participants</div>
                </a></div>
                <div class="nav-main nav-active"><a href="#">
                    Section 5<div class="nav-main-desc">Processes of research governance and ethical review</div>
                    <div class="nav-sub incomplete" id="q23Link"><a href="#q23">
                        23. Are there any potential conflicts of interest?
                    </a></div>
                </a></div>
                <div class="nav-main"><a href="section6.html">
                    Section 6<div class="nav-main-desc">Attachments</div>
                </a></div>
                <div class="nav-main"><a href="section7.html">
                    Section 7<div class="nav-main-desc">Certification and signatures</div>
                </a></div>
            </div>
        </div>
        <!-- END Sidebar -->

    </div>
</div>
<!-- END main content -->

<!-- START footer -->
<div class="navbar navbar-default" id="footer">
    <div class="container">
        <ul>
            <li>Curtin University</li>
            <li>Human Ethics Office</li>
            <li>Help</li>
            <li>About</li>
        </ul>
    </div>
</div>
<!-- END footer -->

<script src="jquery-2.1.3.min.js"></script>
<script src="global_postscript.js"></script>
<script type="text/javascript">
$(document).ready(function() {

    /* Check if each field has filled in. Set the nav-link as red and bold if incomplete. */
    $(".compulsory").focusout(function() {
        var qname = $(this).attr("name");
        if ($(this).val() != "") {
            $(this).closest("div").removeClass('has-error');
            $(this).next(".error-msg").remove();
        } else {
            $(this).closest("div").addClass('has-error');
            if ($(this).next(".error-msg").length == 0)
                $('<div class="error-msg">Please fill in the blank.</div>').insertAfter($(this));
        }
        if (($(this).attr("name") === "projectTitle") || ($(this).attr("name") === "projectType")) {
            if ($(this).val() != "") {
                $("#"+qname+"Link").removeClass("incomplete");
            } else {
                $("#"+qname+"Link").addClass("incomplete");
            }
        } else {
            var hasCompleted = true;
            $("[name="+$(this).attr("name")+"]").each(function() {
                hasCompleted = hasCompleted & ($(this).val() != "");
            });
            if (hasCompleted) {
                $("#"+qname+"Link").removeClass("incomplete");
            } else {
                $("#"+qname+"Link").addClass("incomplete");
            }
        }
    });
});
</script>
</body>
</html>