@(form: Form[views.formdata.application.NewApplicationForm])

@import b3.vertical.fieldConstructor

@base("New Application") {

  <div class="container" style="width:70%;">
    <div class="panel panel-info">
      <div class="panel-heading">
        <div class="panel-title"><b>New Application</b></div>
      </div>
      <div class="panel-body">
        <div class="form-group" id="new_application">
        @b3.form(routes.EthicsApplication.new_post()) {
            @b3.text(form("name"), 'placeholder -> "Enter application name", 'class-> "form-control input-lg")
            <span align="center">@b3.submit('class -> "btn btn-primary") {Start Application}}</span>
        </div>
      </div>
    </div>
  </div>

} {
  @* postScript *@
}

