@(applicationId: Long, sectionNum: Integer)

@import b3.vertical.fieldConstructor

@base("Section " + sectionNum) {

    <!-- START main content -->
    <div class="row">
        <div class="container">

            <!-- START form -->
            <div class="col-sm-9">
                @b3.form(controllers.application.routes.Section3.post(applicationId)) {
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="panel-title">Section 3 - Ethical considerations specific to research methods or fields</div>
                        </div>
                        <div class="panel-body">

                            <div class="form-group">
                                <label class="main-q" id="q13">13. Is your study a clinical trial?</label>
                                <div class="main-q-desc">
                                    A clinical trial is defined as any research project that prospectively assigns human subjects to intervention and comparison groups to study the cause-and-effect relationship between a medical intervention and a health outcome. Medical intervention means any intervention used to modify a health outcome. This definition includes, drugs, surgical procedures, devices, behavioral treatments, process-of-care change etc.
                                </div>
                                <div class="row" style="width:50%;">
                                    <div class="col-xs-6" style="text-align:center;">
                                        <label class="option-label"><input type="radio" name="q13" value="yes"> Yes</label>
                                    </div>
                                    <div class="col-xs-6" style="text-align:center;">
                                        <label class="option-label"><input type="radio" name="q13" value="no"> No</label>
                                    </div>
                                </div>

                                <div class="form-group sub-q" id="q13a">
                                    <label>13a. Will a placebo/non-treatment group be used?</label>
                                    <div class="row" style="width:50%;">
                                        <div class="col-xs-6" style="text-align:center;">
                                            <label class="option-label"><input type="radio" name="q13a" value="yes"> Yes</label>
                                        </div>
                                        <div class="col-xs-6" style="text-align:center;">
                                            <label class="option-label"><input type="radio" name="q13a" value="no"> No</label>
                                        </div>
                                    </div>
                                    <textarea class="form-control" rows="5" name="q13atext"></textarea>
                                </div>
                                <div class="form-group sub-q" id="q13b">
                                    <label>13b. Has this trial been registered?</label>
                                    <div class="row" style="width:50%;">
                                        <div class="col-xs-6" style="text-align:center;">
                                            <label class="option-label"><input type="radio" name="q13b" value="yes"> Yes</label>
                                        </div>
                                        <div class="col-xs-6" style="text-align:center;">
                                            <label class="option-label"><input type="radio" name="q13b" value="no"> No</label>
                                        </div>
                                    </div>
                                    <textarea class="form-control" rows="5" name="q13btext"></textarea>
                                </div>
                                <div class="form-group sub-q" id="q13c">
                                    <label>13c. Are the facilities, expertise and experience available sufficient for the trial to be conducted safely?</label>
                                    <div class="row" style="width:50%;">
                                        <div class="col-xs-6" style="text-align:center;">
                                            <label class="option-label"><input type="radio" name="q13c" value="yes"> Yes</label>
                                        </div>
                                        <div class="col-xs-6" style="text-align:center;">
                                            <label class="option-label"><input type="radio" name="q13c" value="no"> No</label>
                                        </div>
                                    </div>
                                    <textarea class="form-control" rows="5" name="q13ctext"></textarea>
                                </div>
                                <div class="form-group sub-q" id="q13d">
                                    <label>13d. Does your Participant Information Statement make clear to the participant whether they will have continued access after the trial to treatment they have received during the trial, and on what terms?</label>
                                    <div class="row" style="width:50%;">
                                        <div class="col-xs-6" style="text-align:center;">
                                            <label class="option-label"><input type="radio" name="q13d" value="yes"> Yes</label>
                                        </div>
                                        <div class="col-xs-6" style="text-align:center;">
                                            <label class="option-label"><input type="radio" name="q13d" value="no"> No</label>
                                        </div>
                                    </div>
                                    <textarea class="form-control" rows="5" name="q13dtext"></textarea>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="main-q" id="q14">14. Does your research use health information that may reveal information that may be important for the health or future health of the donor(s), their blood relatives or their community?</label>
                                <div class="row" style="width:50%;">
                                    <div class="col-xs-6" style="text-align:center;">
                                        <label class="option-label"><input type="radio" name="q14" value="yes"> Yes</label>
                                    </div>
                                    <div class="col-xs-6" style="text-align:center;">
                                        <label class="option-label"><input type="radio" name="q14" value="no"> No</label>
                                    </div>
                                </div>
                                <textarea class="form-control" rows="5" name="q14text"></textarea>
                            </div>

                            <div class="form-group">
                                <label class="main-q" id="q15">15. Does your research involve human genetics?</label>
                                <div class="main-q-desc">
                                    Specific requirements for research involving fetal tissue are detailed in Chapter 4.1 of the National Statement. Research involving human embryos and gametes, including the derivation of human embryonic stem cell lines, is separately governed by the Research Involving Human Embryos Act 2002 (Cth) and the Ethical Guidelines on the use of Assisted Reproductive Technology in Clinical Practice and Research (2007). Please refer to Chapter 3.5 of the National Statement for more information.
                                </div>
                                <div class="row" style="width:50%;">
                                    <div class="col-xs-6" style="text-align:center;">
                                        <label class="option-label"><input type="radio" name="q15" value="yes"> Yes</label>
                                    </div>
                                    <div class="col-xs-6" style="text-align:center;">
                                        <label class="option-label"><input type="radio" name="q15" value="no"> No</label>
                                    </div>
                                </div>
                                <textarea class="form-control" rows="5" name="q15text"></textarea>
                            </div>



                            <hr />
                            @partials.section_buttons(applicationId, sectionNum)

                        </div> <!-- END main panel body -->
                    </div>
                }
            </div>
            <!-- END form panel -->

            <!-- START Sidebar -->
            @partials.sidebar(applicationId, sectionNum)
            <!-- END Sidebar -->

        </div>
    </div>
    <!-- END main content -->

} {

    <script src="../../../public/javascripts/global_postscript.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {

        /* Check if each field has filled in. Set the nav-link as red and bold if incomplete. */
        $(".compulsory").focusout(function() {
            var qname = $(this).attr("name");
            if ($(this).val() != "") {
                $(this).closest("div").removeClass('has-error');
                $(this).next(".error-msg").remove();
            } else {
                $(this).closest("div").addClass('has-error');
                if ($(this).next(".error-msg").length == 0)
                    $('<div class="error-msg">Please fill in the blank.</div>').insertAfter($(this));
            }
            if (($(this).attr("name") === "projectTitle") || ($(this).attr("name") === "projectType")) {
                if ($(this).val() != "") {
                    $("#"+qname+"Link").removeClass("incomplete");
                } else {
                    $("#"+qname+"Link").addClass("incomplete");
                }
            } else {
                var hasCompleted = true;
                $("[name="+$(this).attr("name")+"]").each(function() {
                    hasCompleted = hasCompleted & ($(this).val() != "");
                });
                if (hasCompleted) {
                    $("#"+qname+"Link").removeClass("incomplete");
                } else {
                    $("#"+qname+"Link").addClass("incomplete");
                }
            }
        });
    });
    </script>

}
