@(applicationId: Long, sectionNum: Integer)

@base("Section 7 - Human Research Ethics application - Curtin University") {
    
    <!-- START main content -->
<div class="row">
    <div class="container">
        
        <!-- START form -->
        <div class="col-sm-9">
            <form>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title">Section 7 - Certification and signatures</div>
                    </div>
                    <div class="panel-body">
                        
                        <table id="coinvestigator" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th colspan="3">Co-Investigator</th>
                                </tr>
                                <tr>
                                    <td colspan="3">
                                        <p>I declare that:</p>
                                        <ul>
                                            <li>I have read the application and all associated documents and the information provided in this application is truthful and complete as possible.</li>
                                            <li>I undertake to conduct research in accordance with the approved protocol, the most recent National Statement on Ethical Conduct in Human Research, relevant legislation and the policies and procedures of Curtin University.</li>
                                        </ul>
                                        If it is not possible to obtain sign-off of a CI using an original signature, please attach to this form a copy of an email from the CI confirming all points above. The email <b>MUST</b> be sent from their institutional email address with their name, title, email and institution in the signature line. Gmail, Hotmail, Yahoo etc., address <b>WILL NOT</b> be accepted. Curtin students <b>MUST</b> use their curtin.student.edu.au address.
                                    </td>
                                </tr>
                                <tr>
                                    <th>Name</th>
                                    <th>Signature</th>
                                    <th>Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="input-group-sm"><input type="text" class="form-control"></td>
                                    <td class="input-group-sm"><input type="text" class="form-control"></td>
                                    <td class="input-group-sm"><input type="date" class="form-control"></td>
                                </tr>
                                <tr>
                                    <td class="input-group-sm"><input type="text" class="form-control"></td>
                                    <td class="input-group-sm"><input type="text" class="form-control"></td>
                                    <td class="input-group-sm"><input type="date" class="form-control"></td>
                                </tr>
                                <tr>
                                    <td class="input-group-sm"><input type="text" class="form-control"></td>
                                    <td class="input-group-sm"><input type="text" class="form-control"></td>
                                    <td class="input-group-sm"><input type="date" class="form-control"></td>
                                </tr>
                                <tr>
                                    <td class="input-group-sm"><input type="text" class="form-control"></td>
                                    <td class="input-group-sm"><input type="text" class="form-control"></td>
                                    <td class="input-group-sm"><input type="date" class="form-control"></td>
                                </tr>
                                <tr>
                                    <td class="input-group-sm"><input type="text" class="form-control"></td>
                                    <td class="input-group-sm"><input type="text" class="form-control"></td>
                                    <td class="input-group-sm"><input type="date" class="form-control"></td>
                                </tr>
                                <tr>
                                    <td class="input-group-sm"><input type="text" class="form-control"></td>
                                    <td class="input-group-sm"><input type="text" class="form-control"></td>
                                    <td class="input-group-sm"><input type="date" class="form-control"></td>
                                </tr>
                            </tbody>
                        </table>

                        <table id="pricipalinvestigator" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th colspan="4">Principal Investigator</th>
                                </tr>
                                <tr>
                                    <td colspan="4">
                                        <p>I declare that:</p>
                                        <ul>
                                            <li>The information provided in this application is truthful and as complete as possible.</li>
                                            <li>I undertake to conduct research in accordance with the approved protocol, the most recent National Statement on Ethical Conduct in Human Research, relevant legislation and the policies and procedures of Curtin University;</li>
                                            <li>Where I am the Project Supervisor for research described to be conducted by a student of Curtin University, I declare that I have provided guidance to the student in the design, methodology and consideration of ethical issues of the proposed research; that the student has received the relevant research and ethics training for this project; and, that I will monitor the project during data collection.</li>
                                            <li>I make this application on the basis that the information it contains is confidential and will be used by Curtin University for the purposes of ethical review and monitoring of the research project described herein, and to satisfy reporting requirements to regulatory bodies. The information will not be used for any other purpose without my prior consent.</li>
                                        </ul>
                                    </td>
                                </tr>
                            </thead>
                                <tr>
                                    <th>Name</th>
                                    <td class="input-group-sm"><input type="text" class="form-control"></td>
                                    <th>Date</th>
                                    <td class="input-group-sm"><input type="text" class="form-control"></td>
                                </tr>
                                <tr>
                                    <th>Signature</th>
                                    <td colspan="3" class="input-group-sm"><input type="text" class="form-control"></td>
                                </tr>
                        </table>

                        <table id="hos" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th colspan="4">Head of School/Area</th>
                                </tr>
                                <tr>
                                    <td colspan="4">
                                        <p>Where the Head of School/Area or nominee has a conflict of interest with the proposed research, e.g. an investigator on the project, a member of the research group, or a personal relationship to any member of the research team, this Declaration is to be completed by the Deputy Head).</p>
                                        <p>I declare that:</p>
                                        <ul>
                                            <li>I am satisfied that the research proposal is ready for submission for ethics approval.</li>
                                            <li>The resources to undertake this project are available.</li>
                                            <li>The researchers have the skill and expertise to undertake this project appropriately.</li>
                                        </ul>
                                    </td>
                                </tr>
                            </thead>
                                <tr>
                                    <th>Name</th>
                                    <td class="input-group-sm"><input type="text" class="form-control"></td>
                                    <th>Date</th>
                                    <td class="input-group-sm"><input type="text" class="form-control"></td>
                                </tr>
                                <tr>
                                    <th>Signature</th>
                                    <td colspan="3" class="input-group-sm"><input type="text" class="form-control"></td>
                                </tr>
                        </table>


                        <hr />
                        @partials.section_buttons(applicationId, sectionNum)

                    </div> <!-- END main panel body -->
                </div>
            </form>
        </div>
        <!-- END form panel -->

        <!-- START Sidebar -->
        @partials.sidebar(applicationId, sectionNum)
        <!-- END Sidebar -->

    </div>
</div>
<!-- END main content -->

} {
    
    <script src="../../../public/javascripts/global_postscript.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {

        /* Check if each field has filled in. Set the nav-link as red and bold if incomplete. */
        $(".compulsory").focusout(function() {
            var qname = $(this).attr("name");
            if ($(this).val() != "") {
                $(this).closest("div").removeClass('has-error');
                $(this).next(".error-msg").remove();
            } else {
                $(this).closest("div").addClass('has-error');
                if ($(this).next(".error-msg").length == 0)
                    $('<div class="error-msg">Please fill in the blank.</div>').insertAfter($(this));
            }
            if (($(this).attr("name") === "projectTitle") || ($(this).attr("name") === "projectType")) {
                if ($(this).val() != "") {
                    $("#"+qname+"Link").removeClass("incomplete");
                } else {
                    $("#"+qname+"Link").addClass("incomplete");
                }
            } else {
                var hasCompleted = true;
                $("[name="+$(this).attr("name")+"]").each(function() {
                    hasCompleted = hasCompleted & ($(this).val() != "");
                });
                if (hasCompleted) {
                    $("#"+qname+"Link").removeClass("incomplete");
                } else {
                    $("#"+qname+"Link").addClass("incomplete");
                }
            }
        });
    });
    </script>
    
}