@(applicationId: Long, sectionNum: Integer)

@import b3.vertical.fieldConstructor

@base("Section " + sectionNum) {

    <!-- START main content -->
    <div class="row">
        <div class="container">

            <!-- START form -->
            <div class="col-sm-9">
                @b3.form(controllers.application.routes.Section4.post(applicationId)) {
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="panel-title">Section 4 - Ethical considerations specific to participants</div>
                        </div>
                        <div class="panel-body">

                            <div class="form-group">
                                <label class="main-q" id="q16">16. Does your research involve women who are pregnant and/or the human fetus?</label>
                                <div class="row" style="width:50%;">
                                    <div class="col-xs-6" style="text-align:center;">
                                        <label class="option-label"><input type="radio" name="q16" value="yes"> Yes</label>
                                    </div>
                                    <div class="col-xs-6" style="text-align:center;">
                                        <label class="option-label"><input type="radio" name="q16" value="no"> No</label>
                                    </div>
                                </div>
                                <div class="form-group sub-q" id="q16a">
                                    <label>16a. Will steps be taken to ensure that the well-being and care of the woman who is pregnant and her fetus takes precedence over the aims of the research?</label>
                                    <div class="row" style="width:50%;">
                                        <div class="col-xs-6" style="text-align:center;">
                                            <label class="option-label"><input type="radio" name="q16a" value="yes"> Yes</label>
                                        </div>
                                        <div class="col-xs-6" style="text-align:center;">
                                            <label class="option-label"><input type="radio" name="q16a" value="no"> No</label>
                                        </div>
                                    </div>
                                    <textarea class="form-control" rows="5" name="q16atext"></textarea>
                                </div>
                                <div class="form-group sub-q" id="q16b">
                                    <label>16b. Will the information about research be separate from information about routine clinical care?</label>
                                    <div class="row" style="width:50%;">
                                        <div class="col-xs-6" style="text-align:center;">
                                            <label class="option-label"><input type="radio" name="q16b" value="yes"> Yes</label>
                                        </div>
                                        <div class="col-xs-6" style="text-align:center;">
                                            <label class="option-label"><input type="radio" name="q16b" value="no"> No</label>
                                        </div>
                                    </div>
                                    <textarea class="form-control" rows="5" name="q16btext"></textarea>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="main-q" id="q17">17. Does your research involve children and young people?</label>
                                <div class="row" style="width:50%;">
                                    <div class="col-xs-6" style="text-align:center;">
                                        <label class="option-label"><input type="radio" name="q17" value="yes"> Yes</label>
                                    </div>
                                    <div class="col-xs-6" style="text-align:center;">
                                        <label class="option-label"><input type="radio" name="q17" value="no"> No</label>
                                    </div>
                                </div>
                                <div class="main-q-desc">Address why participation of children or young people is indispensible to this research; and how this study has been designed to be appropriate for children or young people.</div>
                                <textarea class="form-control" rows="5" name="q17text"></textarea>
                                <div class="form-group sub-q">
                                    <label>17a. Do you have a Working With Children's (WWC) card?</label>
                                    <div class="row" style="width:50%;">
                                        <div class="col-xs-6" style="text-align:center;">
                                            <label class="option-label"><input type="radio" name="q17a" value="yes"> Yes</label>
                                        </div>
                                        <div class="col-xs-6" style="text-align:center;">
                                            <label class="option-label"><input type="radio" name="q17a" value="no"> No</label>
                                        </div>
                                    </div>
                                    <textarea class="form-control" rows="5" name="q17atext"></textarea>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="main-q" id="q18">18. Does your research involve people in dependent or unequal relationships?</label>
                                <div class="main-q-desc">For example: teachers and their students, health care professionals and their patients, employers and their employees.</div>
                                <div class="row" style="width:50%;">
                                    <div class="col-xs-6" style="text-align:center;">
                                        <label class="option-label"><input type="radio" name="q18" value="yes"> Yes</label>
                                    </div>
                                    <div class="col-xs-6" style="text-align:center;">
                                        <label class="option-label"><input type="radio" name="q18" value="no"> No</label>
                                    </div>
                                </div>
                                <div class="main-q-desc">Describe the dependent relationship between the participants and the researcher, members of the research team and/or any person involved in the recruitment/consent process; how will the process of obtaining consent enable persons in dependent relationships to give voluntary consent; if a participant choose to withdraw from the research, how will the ongoing dependent relationship with the participant be maintained?</div>
                                <textarea class="form-control" rows="5" name="q18text"></textarea>
                            </div>

                            <div class="form-group">
                                <label class="main-q" id="q19">19. Does your research involve people highly dependent on medical care who may be unable to give consent?</label>
                                <div class="main-q-desc">For example: patients in the emergency department or intensive care, unconscious people, terminal care.</div>
                                <div class="row" style="width:50%;">
                                    <div class="col-xs-6" style="text-align:center;">
                                        <label class="option-label"><input type="radio" name="q19" value="yes"> Yes</label>
                                    </div>
                                    <div class="col-xs-6" style="text-align:center;">
                                        <label class="option-label"><input type="radio" name="q19" value="no"> No</label>
                                    </div>
                                </div>
                                <div class="main-q-desc">Describe the recruitment/consent process; and how participation in research is in the best interest of the participant?</div>
                                <textarea class="form-control" rows="5" name="q19text"></textarea>
                            </div>

                            <div class="form-group">
                                <label class="main-q" id="q20">20. Does your research involve people with a cognitive impairment, an intellectual disability, or a mental illness?</label>
                                <div class="row" style="width:50%;">
                                    <div class="col-xs-6" style="text-align:center;">
                                        <label class="option-label"><input type="radio" name="q20" value="yes"> Yes</label>
                                    </div>
                                    <div class="col-xs-6" style="text-align:center;">
                                        <label class="option-label"><input type="radio" name="q20" value="no"> No</label>
                                    </div>
                                </div>
                                <div class="main-q-desc">Describe the nature of the intellectual or mental impairment e.g. permanent, temporary or fluctuating; describe how the consent process will take into account the nature of the impairment.</div>
                                <textarea class="form-control" rows="5" name="q19text"></textarea>
                            </div>

                            <div class="form-group">
                                <label class="main-q" id="q21">21. Does your research involve people who may be involved in illegal activities?</label>
                                <div class="row" style="width:50%;">
                                    <div class="col-xs-6" style="text-align:center;">
                                        <label class="option-label"><input type="radio" name="q21" value="yes"> Yes</label>
                                    </div>
                                    <div class="col-xs-6" style="text-align:center;">
                                        <label class="option-label"><input type="radio" name="q21" value="no"> No</label>
                                    </div>
                                </div>
                                <div class="main-q-desc">Please justify how the risk of discovery of illegal activities is justified by the benefits of the reseach.</div>
                                <textarea class="form-control" rows="5" name="q19text"></textarea>
                            </div>

                            <div class="form-group">
                                <label class="main-q" id="q22">22. Does your research involve Aboriginal and Torres Strait Islanders?</label>
                                <div class="main-q-desc">Note: If your research will incidentally involve Aboriginal and Torres Strait Islanders because your study is on the general population you do not need to fill in this section. Complete this section if you are specifically targeting recruitment of Aboriginal and Torres Strait Islanders, or there is a potential for a high number of Aboriginal and Torres Strait Islanders to be recruited.</div>
                                <div class="row" style="width:50%;">
                                    <div class="col-xs-6" style="text-align:center;">
                                        <label class="option-label"><input type="radio" name="q22" value="yes"> Yes</label>
                                    </div>
                                    <div class="col-xs-6" style="text-align:center;">
                                        <label class="option-label"><input type="radio" name="q22" value="no"> No</label>
                                    </div>
                                </div>
                                <div class="form-group sub-q" id="q22a">
                                    <label>22a. What is the estimated proportion of Aboriginal and Torres Strait Islanders in the population from which the participants will be recruited?</label>
                                    <div class="row" style="width:50%;">
                                        <div class="col-xs-6" style="text-align:center;">
                                            <label class="option-label"><input type="radio" name="q22a" value="yes"> Yes</label>
                                        </div>
                                        <div class="col-xs-6" style="text-align:center;">
                                            <label class="option-label"><input type="radio" name="q22a" value="no"> No</label>
                                        </div>
                                    </div>
                                    <textarea class="form-control" rows="5" name="q22atext"></textarea>
                                </div>
                                <div class="form-group sub-q" id="q22b">
                                    <label>22b. Will Aboriginal and Torres Islander status of participants be recorded?</label>
                                    <div class="row" style="width:50%;">
                                        <div class="col-xs-6" style="text-align:center;">
                                            <label class="option-label"><input type="radio" name="q22b" value="yes"> Yes</label>
                                        </div>
                                        <div class="col-xs-6" style="text-align:center;">
                                            <label class="option-label"><input type="radio" name="q22b" value="no"> No</label>
                                        </div>
                                    </div>
                                    <textarea class="form-control" rows="5" name="q22btext"></textarea>
                                </div>
                            </div>


                            <hr />
                            @partials.section_buttons(applicationId, sectionNum)

                        </div> <!-- END main panel body -->
                    </div>
                }
            </div>
            <!-- END form panel -->

            <!-- START Sidebar -->
            @partials.sidebar(applicationId, sectionNum)
            <!-- END Sidebar -->

        </div>
    </div>
    <!-- END main content -->

} {

    <script src="../../../public/javascripts/global_postscript.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {

        /* Check if each field has filled in. Set the nav-link as red and bold if incomplete. */
        $(".compulsory").focusout(function() {
            var qname = $(this).attr("name");
            if ($(this).val() != "") {
                $(this).closest("div").removeClass('has-error');
                $(this).next(".error-msg").remove();
            } else {
                $(this).closest("div").addClass('has-error');
                if ($(this).next(".error-msg").length == 0)
                    $('<div class="error-msg">Please fill in the blank.</div>').insertAfter($(this));
            }
            if (($(this).attr("name") === "projectTitle") || ($(this).attr("name") === "projectType")) {
                if ($(this).val() != "") {
                    $("#"+qname+"Link").removeClass("incomplete");
                } else {
                    $("#"+qname+"Link").addClass("incomplete");
                }
            } else {
                var hasCompleted = true;
                $("[name="+$(this).attr("name")+"]").each(function() {
                    hasCompleted = hasCompleted & ($(this).val() != "");
                });
                if (hasCompleted) {
                    $("#"+qname+"Link").removeClass("incomplete");
                } else {
                    $("#"+qname+"Link").addClass("incomplete");
                }
            }
        });
    });
    </script>


}
