@()

@base("About") {
  <div class="container">
    <div id="index-panel" class="jumbotron">
      <div class="wrapper">
        <div class="index-panel-content">
            <p>
                This was a project by the likes of;

                <ul>
                    <li><a href="https://github.com/ZoomyZebra">Andrew Payne-Rhodes</a></li>
                    <li><a href="https://github.com/Trashbang">David Will</a></li>
                    <li><a href="https://github.com/Mause">Dominic May</a></li>
                    <li><a href="https://github.com/mshspike">Spike Mak</a></li>
                    <li><a href="https://github.com/YoakimPersson">Yoakim Persson</a></li>
                </ul>
            </p>

        </div>
      </div>
    </div>
  </div>
} {
    @* postScript *@
}
