@()

@base("About") {
  <div class="container">
    <div id="index-panel" class="jumbotron">
      <div class="wrapper">
        <div class="index-panel-content">
            <p>
                This was a project by the likes of;

                <ul>
                    <li>Andrew Payne-Rhodes</li>
                    <li>David Will</li>
                    <li>Dominic May</li>
                    <li>Spike Mak</li>
                    <li>Yoakim Persson</li>
                </ul>
            </p>

        </div>
      </div>
    </div>
  </div>
} {
    @* postScript *@
}
