@(triageForm: Form[views.formdata.EthicsTriageForm])

@import foundation._
@import views.foundation.Helpers._
@import helper._

@base("Ethics Triage") {
  @partials.header("Ethics Triage")

  <div class="row">
    <div class="large-12 columns">
      <div class="">
        <h4>Does the study include any of the ten following types of research and/or participants?</h4>

        @helper.form(action=routes.Application.ethics_triage_post(), 'id -> "ethics_triage_form") {
          <div class="panel">
            @input(
              triageForm("interventions_and_therapies"),
              '_label -> "Interventions and therapies, including clinical and non-clinical trials",
              '_swapInputAndLabel -> true
            ) { (id, name, value, args) =>
              <input id="@id" name="@name" @if(value) {checked} @toHtmlArgs(args) type="checkbox" />
            }

            </br>

            <input id="human_genetics" type="checkbox" />
            <label for="human_genetics">Human genetics</label>
            </br>

            <input id="pregnant_women_or_fetuses" type="checkbox" />
            <label for="pregnant_women_or_fetuses">Women who are pregnant and/or the human fetus</label>
            </br>

            <input id="medically_dependant" type="checkbox" />
            <label for="medically_dependant">People who are highly dependent on medical care who may be unable to give consent</label>
            </br>

            <input id="cognitively_impaired" type="checkbox" />
            <label for="cognitively_impaired">People with a cognitive impairment, intellectual disability or a mental illness</label>
            </br>

            <input id="aboriginal_or_torres_strait_islander" type="checkbox" />
            <label for="aboriginal_or_torres_strait_islander">Research specifically targeting Aboriginal or Torres Strait Islanders</label>
            </br>

            <input id="illegal_activities" type="checkbox" />
            <label for="illegal_activities">People who may be involved in illegal activities</label>
            </br>
          </div>

          <div class="panel" id="justification_panel">
            <label for="justification">You responded "yes" to one of the above queries. If you can, please indicate below why you believe your project qualifies to still be considered a Low or Negligible Risk research project.</label>
            <textarea id="justification"></textarea>
          </div>

          <style type="text/css">
            #justification_panel {
              display: none;
            }
          </style>

          <script type="text/javascript">
            var ethics_triage_form = document.forms.ethics_triage_form,
                inputs = ethics_triage_form.querySelectorAll('input[type="checkbox"]'),
                justification_panel = document.getElementById('justification_panel');

            inputs = Array.prototype.slice.call(inputs);

            ethics_triage_form.onchange = function(ev) {
              'use strict';
              var checked = inputs.filter(function(q) { return q.checked; });

              var display = checked.length !== 0 ? "inherit" : "none";
              justification_panel.style.display = display;
            }
          </script>

          <input type="submit" class="button" />
        }
      </div>
    </div>
  </div>
}
