@()

@base("Ethics") {
  <div class="row">
    <div class="container">
      <div class="panel panel-default">
          <div class="panel-heading">
              <div class="panel-title"><b>Application for Ethical Approval for a Research Project Involving Humans</b></div>
          </div>
          <div class="panel-body">
            <div class="col-md-12">
              <blockquote>
                "All research on humans conducted on Curtin University campus, or by Curtin University staff or students must be approved by the Curtin Human Research Ethics Committee before it can commence. Non-compliance with this requirement represents research misconduct which will be investigated." - Human Research Ethics Office
              </blockquote>
              This system allows you to submit an application for your project online.
            </div>
          </div>
      </div>
    </div>
  </div>
} {
    @* postScript *@
}
