@()

@base("Ethics, Bitch") {
  <div class="row">
    <div class="container">
      <div class="panel panel-default">
          <div class="panel-heading">
              <div class="panel-title"><b>Hello</b></div>
          </div>
          <div class="panel-body">
            <div class="col-md-12">
              <blockquote>
                "@{
                  val choices = Seq[String](
                    "We are Sex Bob-Omb and we are here to make you think about death and get sad and stuff.",
                    "We are Sex Bob-omb. We are here to sell out and make money and stuff.",
                    "Chicken isn't vegan?",
                    "Short answer: Vegans are just better then everyone else.",
                    "That's it! You cocky cock! You'll pay for your crimes against humanity."
                  )
                  choices(scala.util.Random.nextInt() % choices.size)
                }"
              </blockquote>
            </div>
          </div>
      </div>
    </div>
  </div>
} {
    @* postScript *@
}
