@(loginForm: Form[views.formdata.LoginForm])

@import b3.vertical.fieldConstructor

@base("Login") {
  <div class="center row">
    <div class="content">
      <div class="row">
        <div class="col-md-4 columns">
          <div class="signup-panel">
            @b3.form(routes.Accounts.login_post, 'class -> (if(loginForm.hasGlobalErrors) { "has-error" } else { "" })) {
              @b3.text(loginForm("curtin_id"), '_label -> "Curtin ID")
              @b3.password(loginForm("encrypted_password"), '_label -> "Password")

              @if(loginForm.hasGlobalErrors) {
                <p>
                  @loginForm.globalError.message
                </p>
              }

              @b3.submit('class -> "btn btn-default") { Login }
            }
          </div>
        </div>
       </div>
    </div>
  <div>
} {
    @* postScript *@
}
