@(loginForm: Form[views.formdata.LoginForm], redirect_url: String)

@import b3.vertical.fieldConstructor


@base("Login") {
  <div class="row">
      <div class="container" style="width:40%;">
          <div class="panel panel-default" style="margin-top:70px; margin-bottom:70px;">
              <div class="panel-heading">
                  <div class="panel-title">Login</div>
              </div>
              <div class="panel-body">
                  @b3.form(routes.Accounts.login_post(redirect_url), 'class -> (if(loginForm.hasGlobalErrors) { "has-error" } else { "" })) {
                      <div class="form-group" style="margin:2em;">
                          <div class="input-group">
                              <div class="input-group-addon"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></div>
                              @b3.text(loginForm("email"), '_label -> null, 'class -> "form-control", 'placeholder -> "Email")
                          </div>
                      </div>
                      <div class="form-group" style="margin:2em;">
                          <div class="input-group">
                              <div class="input-group-addon"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></div>
                              @b3.password(loginForm("password"), '_label -> null, 'class -> "form-control", 'placeholder -> "password", 'errors -> None)

                              @loginForm.errors.get("password")
                          </div>
                      </div>

                      <div class="form-group">
                        @if(loginForm.hasGlobalErrors) {
                          <p>
                            @loginForm.globalError.message
                          </p>
                        }
                      </div>

                      <div class="form-group">
                          @b3.submit('class -> "btn btn-success pull-right") { Login }
                      </div>
                  }
              </div>
          </div>
      </div>
  </div>
} {
    @* postScript *@
}
