<html>
<head>
<title>Section 1 - Human Research Ethics application - Curtin University</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<link rel="stylesheet" href="main.css">
</head>
<body>

<!-- START header -->
<nav class="navbar navbar-default" id="header">
    <div class="container">
        <div class="navbar-brand">Curtin University</div>

        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><div class="btn btn-success btn-xs">+ New application</div></a></li>
                <li><a href="./viewall.html">(name or ID)</a></li>
                <li><a href="./login.html">Login</a></li>
                <li><a href="#">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- END header -->

<!-- START main content -->
<div class="row">
    <div class="container">
        
        <!-- START form -->
        <div class="col-sm-10">
            <form>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title"><b>Section 1 - General information</b></div>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="main-q" for="projectTitle">1. Project Title</label>
                            <input type="text" class="form-control" id="projectTitle">
                        </div>

                        <div class="form-group">
                            <label class="main-q" for="projectType">2. Please indicate the type of project</label>
                            <select class="form-control" id="projectType">
                                <option value="0">Staff project</option>
                                <option value="1">Undergaduate other than honours (no candidacy required)</option>
                                <option value="2">Honours (no candidacy required)</option>
                                <option value="3">Masters by coursework (no candidacy required)</option>
                                <option value="4">Masters by research (candidacy required)</option>
                                <option value="5">PhD (candidacy required)</option>
                                <option value="6">Other (Specify)</option>
                            </select>
                        </div>
                        <div class="form-group sub-q" id="projectTypeOthers">
                            <label for="typeOthers">If other specify:</label>
                            <input type="text" class="form-control" id="typeOthers">
                        </div>

                        <div class="main-q">3. Project Summary</div>
                            <div class="main-q-desc">Give a concise and simple description, in plain language, or the study in each of the sections below.</div>
                            <div class="form-group sub-q">
                                <label for="background">3a. Background</label>
                                <textarea class="form-control" rows="5" id="background"></textarea>
                            </div>

                            <div class="form-group sub-q">
                                <label for="aims">3b. Aims and hypothesis</label>
                                <textarea class="form-control" rows="3" id="aims"></textarea>
                            </div>

                            <div class="form-group sub-q">
                                <label for="methods">3c. Methods</label>
                                <textarea class="form-control" rows="5" id="methods"></textarea>
                            </div>

                        <div class="main-q">4. Principle Investigator</div>
                            <div class="sub-q">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <div class="form-group">
                                            <label for="piName">Name (include title)</label>
                                            <input type="text" class="form-control" id="piName">
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <div class="form-group">
                                            <label for="piId">Staff ID</label>
                                            <input type="text" class="form-control" id="piId">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="piArea">School, Center or Area</label>
                                    <input type="text" class="form-control" id="piArea">
                                </div>
                                <div class="row">
                                    <div class="col-xs-6">
                                        <div class="form-group">
                                            <label for="piTel">Telephone</label>
                                            <input type="text" class="form-control" id="piTel">
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <div class="form-group">
                                            <label for="piEmail">Email</label>
                                            <input type="text" class="form-control" id="piEmail">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-8">
                                        <b>SOL Research Integrity Professional Development Program training complete</b> 
                                        (NOTE: this is a requirement of approval)
                                    </div>
                                    <div class="col-xs-4">
                                        <input type="radio" name="ripdp" id="yes" value="yes"> <label for="yes" class="option-label">Yes - certificate attached</label>
                                        <br />
                                        <input type="radio" name="ripdp" id="no" value="no"> <label for="no" class="option-label">No</label>
                                    </div>
                            </div>
                        </div>

                    <div class="main-q">5. Co-Investigators</div>
                        <div class="sub-q">
                            <table class="table table-condensed table-responsive table-center" id="ciTable">
                                <thead>
                                    <tr>
                                        <td width="21%">Name (include title)</td>
                                        <td width="23%">School, Centre, Area,<br />University or Institution</td>
                                        <td width="14%">Staff ID or Student ID</td>
                                        <td width="17%">Role</td>
                                        <td width="10%">Candidacy approved</td>
                                        <td width="15%">Research Integrity training complete</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr id="0">
                                        <td><input type="text" id="ciName" style="width:100%;"></td>
                                        <td><input type="text" id="ciArea" style="width:100%"></td>
                                        <td><input type="text" id="ciId" style="width:100%"></td>
                                        <td><select style="width:100%">
                                            <option value="CI">CI</option>
                                            <option value="Supervisor">Supervisor</option>
                                            <option value="Student">Student</option>
                                        </select></td>
                                        <td align="center"><input type="checkbox" id="ciConApproved"></td>
                                        <td align="center"><input type="checkbox" id="ciTrainCompleted"></td>
                                    </tr>
                                    <tr id="1">
                                        <td><input type="text" id="ciName" style="width:100%;"></td>
                                        <td><input type="text" id="ciArea" style="width:100%"></td>
                                        <td><input type="text" id="ciId" style="width:100%"></td>
                                        <td><select style="width:100%">
                                            <option value="CI">CI</option>
                                            <option value="Supervisor">Supervisor</option>
                                            <option value="Student">Student</option>
                                        </select></td>
                                        <td align="center"><input type="checkbox" id="ciConApproved"></td>
                                        <td align="center"><input type="checkbox" id="ciTrainCompleted"></td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="6"><center><div class="btn btn-default btn-xs" onclick="addCIRow();">Click to add one more Co-Investigator</div></center></td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>

                    <div class="main-q inline">6. Contact Person</div>
                        <input type="checkbox" id="piAsCP" value="yes" onchange="fillCP();"> <label for="piAsCP" class="option-label">Tick to use Principal Investigator details</label>
                        <div class="sub-q" id="cp">
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label for="cpName">Name (include title)</label>
                                        <input type="text" class="form-control" id="cpName">
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label for="cpId">Staff ID</label>
                                        <input type="text" class="form-control" id="cpId">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="cpArea">School, Centre or Area</label>
                                <input type="text" class="form-control" id="cpArea">
                            </div>
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label for="cpTel">Telephone</label>
                                        <input type="text" class="form-control" id="cpTel">
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label for="cpEmail">Email</label>
                                        <input type="text" class="form-control" id="cpEmail">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-info pull-left">&#60; Previous section</button>
                        <button class="btn btn-info pull-right">Next section &#62;</button>
                    </div>
                </div>
            </form>
        </div>
        <!-- END form -->

        <!-- START Sidebar -->
        <div class="col-sm-2">
            <div class="panel panel-default affix" id="nav-sidebar">
                    <ul class="nav nav-stacked nav-pills">
                        <li><a href="#"><b>Ethics triage</b></a></li>
                        <li class="active">
                            <a href="#"><b>Section 1</b><br /><div style="margin-left:1em;">General information</div></a>
                        </li>
                        <li><a href="#"><b>Section 2</b><br /><div style="margin-left:1em;">Themes in research ethics: Risk and benefits, consent</div></a></li>
                        <li><a href="#"><b>Section 3</b><br /><div style="margin-left:1em;">Ethical considerations specific to research methods or fields</div></a></li>
                        <li><a href="#"><b>Section 4</b><br /><div style="margin-left:1em;">Ethical considerations specific to participants</div></a></li>
                        <li><a href="#"><b>Section 5</b><br /><div style="margin-left:1em;">Processes of research governance and ethical review</div></a></li>
                        <li><a href="#"><b>Section 6</b><br /><div style="margin-left:1em;">Attachments</div></a></li>
                        <li><a href="#"><b>Section 7</b><br /><div style="margin-left:1em;">Certification and signatures</div></a></li>
                    </ul>
            </div>
        </div>
        <!-- END Sidebar -->

    </div>
</div>
<!-- END main content -->

<!-- START footer -->
<div class="navbar navbar-default" id="footer">
    <div class="container">
        <ul>
            <li>Curtin University</li>
            <li>Human Ethics Office</li>
            <li>Help</li>
            <li>About</li>
        </ul>
    </div>
</div>
<!-- END footer -->

<script src="jquery-2.1.3.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    $('#projectTypeOthers').hide();
    $('#projectType').change(function() {
        if ($(this).val() == 6) {
            $('#projectTypeOthers').show();
        } else {
            $('#projectTypeOthers').hide();
        }
    });
});

function fillCP() {
    var checked = $('#piAsCP').is(':checked');
    if (checked) {
        $('#cpName').val($('#piName').val());
        $('#cpId').val($('#piId').val());
        $('#cpArea').val($('#piArea').val());
        $('#cpTel').val($('#piTel').val());
        $('#cpEmail').val($('#piEmail').val());
    } else {
        $('#cpName').val("");
        $('#cpId').val("");
        $('#cpArea').val("");
        $('#cpTel').val("");
        $('#cpEmail').val("");
    }
    $('#cpName').prop('disabled', checked);
    $('#cpId').prop('disabled', checked);
    $('#cpArea').prop('disabled', checked);
    $('#cpTel').prop('disabled', checked);
    $('#cpEmail').prop('disabled', checked);
}

function addCIRow() {
    $('#ciTable > tbody').append('<tr id="' + $('#ciTable tbody tr').length + '">' + $('#0').html() + '</tr>');
}
</script>
</body>
</html>