@()

@base("Themes in research ethics") {
  @partials.header("Themes in research ethics")

  <div class="row">
    <div class="large-12 columns">
      <h3>Potential harm or risk to participants</h3>

      <div class="panel">
        <textarea name="potential_harm"></textarea>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <h3>Risk management strategy</h3>

      <div class="panel">
        <textarea name="risk_management_strategy"></textarea>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <h3>Will participants be given financial or non-financial incentives?</h3>

      <div class="panel">
        <input name="given_incentives" type="radio" value="yes" />
        <label for="yes">Yes</label>
        <input name="given_incentives" type="radio" value="no" />
        <label for="no">No</label>
        </br>

        <textarea name="incentive_details"></textarea>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <h3>Please select how you are going to recruit participant (select all that apply) and in the space below describe your recruitment process.</h3>

      <div class="panel">
        <div class="row">
          <div class="large-6 columns">
            <div class="panel">
              <label for="data_medical_records">
                <div class="large-6 columns">Database/medical records</div>
                <div class="large-6 columns"><textarea></textarea></div>
              </label>
              <input name="data_medical_records" type="checkbox" />
            </div>
          </div>
          <div class="large-6 columns">
            <div class="panel">
              <label for="snowball_recruitment">
                <div class="large-6 columns">Snowball recruitment or word mouth etc</div>
                <div class="large-6 columns"><textarea></textarea></div>
              </label>
              <input name="snowball_recruitment" type="checkbox" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
}
