@(users: List[models.UserModel])

@base("User list") {
  <div class="row">
      <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="panel">
                @controllers.Accounts.getEmail()
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="panel">
                @for(user <- users) {
                  @user.name<br/>
                  @user.email<br/>
                  @user.curtin_id<br/>
                  @user.hashed_password<br/>
                  <br/>
                }
              </div>
            </div>
          </div>
      </div>
  </div>
} {
    @* postScript *@
}
