<html>
<head>
<title>Section 1 - Human Research Ethics application - Curtin University</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<link rel="stylesheet" href="main.css">
</head>
<body>

<!-- START header -->
<nav class="navbar navbar-default" id="header">
    <div class="container">
        <div class="navbar-brand">Curtin University</div>

        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><div class="btn btn-success btn-xs">+ New application</div></a></li>
                <li class="active"><a href="./viewall.html">(name or ID)</a></li>
                <li><a href="./login.html">Login</a></li>
                <li><a href="#">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- END header -->

<!-- START main content -->
<div class="row">
    <div class="container" style="width:70%;">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title"><b>List of all applications</b></div>
            </div>
            <div class="panel-body">
                <table class="table table-hover table-smallertext table-center">
                    <thead>
                        <tr>
                            <th>Project name</th>
                            <th>Status</th>
                            <th style="width:7%;">Overview</th>
                            <th style="width:7%;">Edit</th>
                            <th style="width:7%;">Delete</th>
                        </tr>
                    </thead>
                    <tr id="0123"> <!--application ID-->
                        <td style="text-align:left;">(Project name here)</td>
                        <td>(status here)</td>
                        <td style="width:7%;"><a href="#"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a></td>
                        <td style="width:7%;"><a href="#"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a></td>
                        <td style="width:7%;"><a href="#"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></td>
                    </tr>
                    <tr id="12345"> <!--application ID-->
                        <td style="text-align:left;">(Project name here)</td>
                        <td>(status here)</td>
                        <td style="width:7%;"><a href="#"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a></td>
                        <td style="width:7%;"><a href="#"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a></td>
                        <td style="width:7%;"><a href="#"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></td>
                    </tr>
                    <tr id="34567"> <!--application ID-->
                        <td style="text-align:left;">(Project name here)</td>
                        <td>(status here)</td>
                        <td style="width:7%;"><a href="#"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a></td>
                        <td style="width:7%;"><a href="#"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a></td>
                        <td style="width:7%;"><a href="#"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- END main content -->

<!-- START footer -->
<div class="navbar navbar-default" id="footer">
    <div class="container">
        <ul>
            <li>Curtin University</li>
            <li>Human Ethics Office</li>
            <li>Help</li>
            <li>About</li>
        </ul>
    </div>
</div>
<!-- END footer -->

<script src="jquery-2.1.3.min.js"></script>
</script>
</body>
</html>